<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/estilos_creaciones_y_edicion.css' %}">
    <title>Crear Terreno</title>
    
</head>
<body>
    <h1>Crear Propiedad de Terreno</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ form.ubicacion.id_for_label }}">Ubicación:</label>
            {{ form.ubicacion }}
        </div>
        <div>
            <label for="{{ form.precio.id_for_label }}">Precio:</label>
            {{ form.precio }}
        </div>
        <div>
            <label for="{{ form.medidas.id_for_label }}">Medidas:</label>
            {{ form.medidas }}
        </div>
        <div>
            <label for="{{ form.metros_cuadrados.id_for_label }}">Total Metros Cuadrados:</label>
            {{ form.metros_cuadrados }}
        </div>
        <div>
            <label for="{{ form.propiedad_privada_o_con_escrituras.id_for_label }}">Ejidal O Escrituras:</label>
            {{ form.propiedad_privada_o_con_escrituras }}
        </div>

        <div>
            <label for="{{ form.uso_de_suelo.id_for_label }}">Uso de Suelo:</label>
            {{ form.uso_de_suelo }}
        </div>
        
        <div>
            <label for="{{ form.informacion_extra.id_for_label }}">Información Extra:</label>
            {{ form.informacion_extra }}
        </div>
        
        <div>
            <label for="{{ form.direccion_exacta.id_for_label }}">Dirección Exacta:</label>
            {{ form.direccion_exacta }}
        </div>
        <div>
            <label for="{{ form.imagen1.id_for_label }}">Imagen 1:</label>
            {{ form.imagen1 }}
        </div>
        <div>
            <label for="{{ form.imagen2.id_for_label }}">Imagen 2:</label>
            {{ form.imagen2 }}
        </div>
        <div>
            <label for="{{ form.imagen3.id_for_label }}">Imagen 3:</label>
            {{ form.imagen3 }}
        </div>
        <div>
            <label for="{{ form.imagen4.id_for_label }}">Imagen 4:</label>
            {{ form.imagen4 }}
        </div>
        <div>
            <label for="{{ form.imagen5.id_for_label }}">Imagen 5:</label>
            {{ form.imagen5 }}
        </div>
        <div>
            <label for="{{ form.imagen6.id_for_label }}">Imagen 6:</label>
            {{ form.imagen6 }}
        </div>
        <div>
            <label for="{{ form.imagen7.id_for_label }}">Imagen 7:</label>
            {{ form.imagen7 }}
        </div>
        <div>
            <label for="{{ form.imagen8.id_for_label }}">Imagen 8:</label>
            {{ form.imagen8 }}
        </div>
        <div>
            <label for="{{ form.youtube_link.id_for_label }}">Link de YouTube (Iframe):</label>
            {{ form.youtube_link }}
        </div>
        <div>
            <label for="{{ form.link_de_google_maps.id_for_label }}">Link de Google Maps (Iframe):</label>
            {{ form.link_de_google_maps }}
        </div>
        <div>
            <label for="{{ form.agente.id_for_label }}">Agente:</label>
            {{ form.agente }}
        </div>
        <button type="submit">Crear Terreno</button>
        <a href="{% url 'home' %}">Volver al inicio</a>
    </form>

    
</body>
</html>
