<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/estilos_creaciones_y_edicion.css' %}">
    <title>Editar Ficha Técnica</title>
    
</head>
<body>

<h1>Editar Ficha Técnica</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
    <a href="{% url 'lista_fichas_tecnicas' %}">Regresar</a>
</form>

</body>
</html>
